.language_wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(81, 81, 81, 0.614);
  border: 1px white solid;
  backdrop-filter: blur(5px);
  color: rgb(255, 255, 255);
  z-index: 3;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  cursor: pointer;
  box-sizing: border-box;
}

.language_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  box-sizing: border-box;
  background-color: rgba(48, 48, 48, 0);
  border-radius: 1px;
  padding: 10px 20px;
  transition: 0.2s ease;
  overflow: hidden;
}

.other_languages {
  width: 100%;
  overflow: hidden;
}

.language_container:hover {
  background-color: rgba(255, 255, 255, 0.208);
}

.language_flag {
  width: 20px;
  border: 1px rgba(255, 255, 255, 0.304) solid;
  pointer-events: none;
}

.language_title {
  margin: 0;
  pointer-events: none;
}
