.menu_toggle_container {
    width: 30px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
  }
  