.menu_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu_header {
  font-size: 30px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 35px;
  font-weight: 100;
}

.menu_header_background {
  position: absolute;
  left: -10%;
  border-radius: 5px;
  rotate: 2deg;
  z-index: -1;
  content: "";
  width: 150%;
  height: 100%;
  background-color: rgb(31, 31, 31);
}

.menu_lists_container {
  width: 90%;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.45);
  border-radius: 20px;
}

.menu_list_category {
  all: unset;
  width: 100%;
  cursor: pointer;
  background-color: var(--accentColor);
  box-sizing: border-box;
  padding: 15px 30px;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.26);
  border-bottom: 2px rgb(137, 137, 137) dashed;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 30px;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.menu_list_category h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu_list_category h1 {
  margin: 0;
}

.menu_list_inputs_wrapper {
  display: flex;
  will-change: height;
  overflow: hidden;
  background-color: var(--accentColor);
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  position: relative;
  z-index: 1;
  gap: 5px;
  box-sizing: border-box;
}

.menu_list_input {
  width: 90%;
  border-radius: 10px;
  background-color: var(--secondColor);
}

.menu_list_input_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.menu_list_input_top_left{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.menu_list_input_top .price {
  color: rgb(139, 155, 255);
}

.menu_list_input_bottom {
  display: flex;
  font-weight: 200;
  justify-content: space-between;
  gap: 10px;
  padding: 0px 20px;
  box-sizing: border-box;
}

.menu_list_input_hr {
  width: 80%;
  opacity: 0.5;
  border: 1px rgba(96, 96, 96, 0.469) solid;
}
